rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /covers/{userId}/{document=**} {
      allow read, create: if request.auth != null;
      // write mean create and edit all in one
      allow delete: if request.auth.uid == userId
    }
  }
}
